.page1{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-Color:red;
    }
.p1{
        font-family:"Cursive";
        color:
yellow
}
.p2{
        font-family:"Cursive";
        color:brown;
    }

.page2{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-Color:aqua;

}
.menubar{
    font-family:"Times New Roman";
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    }
.img{
   width:200px;
   height:150px;
   margin:auto;
   font-family:"Arial";

}